body {
    background: url("../images/legal-pad-979558_1920.png");
}

.h1 {
    font-family: "Courier New";
    font-size: 40px;
    color: #FFFACD;
}

p {
    font-size: 20px;
    line-height: 10px;
    font-family: "Courier New";
}

.img-fluid {
    max-width: 50%;
    height:auto;
}

footer { background-color:#459777; }
