* {
    font-family: "Courier New";
    font-weight: bold;
}
body {
    background: url("../images/legal-pad-979558_1920.png");
    text-align:center;
}
.head {
    height:50px;
    font-size:40px;
    color:#FFFACD;
}

.spacing {
    height:100px;
}

.instructions-text {
    height: 80px;
}

p {
    font-size: 40px;
    line-height: 35px;
}

.stats-area {
    padding: top 50;
}
.img-fluid {
    max-width: 50%;
    height:auto;
    clear: both;
}

.footer { 
    background-color:#459777; 
    padding:30px;
}
